
<div class="grid grid-cols-4 mt-10">
    <div class="col-span-1">
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-font mr-2"></i>
            Text
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-envelope mr-2"></i>
            Email
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-phone-alt mr-2"></i>
            Phone Number
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-calculator mr-2"></i>
            Number
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-calendar-alt mr-2"></i>
            Date
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-clock mr-2"></i>
            Date-time
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-align-left mr-2"></i>
            Textarea
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-paragraph mr-2"></i>
            Paragraph
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-check-square mr-2"></i>
            Checkbox
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="far fa-circle mr-2"></i>
            Radio Button
        </div>
        <div class="rounded bg-white hover:bg-gray-200 cursor-pointer mr-5 h-12 flex items-center pl-4 font-bold text-xl mb-4 border">
            <i class="fas fa-mouse-pointer mr-2"></i>
            Select
        </div>
    </div>
    <div class="col-span-3 bg-white">
        <div class="grid grid-cols-2">
            <h4 class="text-xl ml-10 mt-10">
                Drag and drop items below to build your custom application form:
            </h4>
            <div class="flex justify-center items-center text-gray-400 col-span-2 border-dashed border-2 border-gray-400 mx-20 py-20 mt-10">
                Drag and Drop
            </div>
        </div>
        
        <!--<div class="border-dashed border-4 border-gray-600"></div>
        <app-text></app-text>
        <app-email></app-email>
        <app-phone></app-phone>
        <app-number></app-number>
        <app-date></app-date>
        <app-date-time></app-date-time>
        <app-textarea></app-textarea>
        <app-paragraph></app-paragraph>
        <app-checkbox></app-checkbox>
        <app-radio></app-radio>
        <app-select></app-select>-->
    </div>
</div>