.form-border {
    border: 1px dashed black;
}
#dnd-container {
    margin-top: 140px;
}

.submit-button {
    margin-right: 55px !important;
    padding: 14px 16px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}