<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showModalMaster">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!--
        Background overlay, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
        <div class="fixed inset-0 transition-opacity" (click)="authService.showForgotPasswordModal = false">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
        <!--
        Modal panel, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6 ease-out duration-300"
            [ngClass]="{'opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95': !transition, 'opacity-100 translate-y-0 sm:scale-100': transition}"
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div>
                <div class="mt-3 text-center sm:mt-5">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                        Forgot Password
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm leading-5 text-gray-500">
                            Enter your E-mail and we'll send you a link to reset your password.
                        </p>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <form #loginForm="ngForm" (submit)="onSendLink(loginForm)">
                    <div class="relative rounded-md">
                        <input type="email" email class="form-input block w-2/3 mx-auto sm:text-sm sm:leading-5"
                            placeholder="you@example.com" name="email" [(ngModel)]="email">
                        <p class="text-center mt-2 text-red-500" *ngIf="!isFormValid">Please enter a valid email</p>
                        <p class="text-center mt-2 text-green-500" *ngIf="showResentMessage">If you did not get the
                            link,
                            <strong class="cursor-pointer" (click)="onSendLink(loginForm)">Click Here </strong> to retry
                        </p>
                    </div>
                </form>

            </div>
            <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
                <span class="flex w-full rounded-md shadow-sm sm:col-start-2">
                    <button type="submit" (click)="onSendLink(loginForm)"
                        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-primary-dominant text-base leading-6 font-medium text-white shadow-sm  focus:outline-none hover:bg-primary-hover focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        Send Link
                    </button>
                </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:col-start-1">
                    <button type="button" (click)="authService.showForgotPasswordModal = false"
                        class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
