<ngx-spinner></ngx-spinner>
<div class="max-w-7xl mx-auto px-4 mt-24 pt-10 sm:px-6 md:px-8 hidden md:block">
<!--  <h1 class="text-2xl font-semibold text-gray-900">Settings</h1>-->
  <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap mb-3">
<!--    <div class="ml-4 mt-4">-->
<!--      <h1 class="text-2xl font-semibold text-gray-900" *ngIf="business; else skeletonSettingsTitle">-->
<!--        Settings-->
<!--      </h1>-->
<!--      <ng-template #skeletonSettingsTitle>-->
<!--        <div class="h-5"></div>-->
<!--      </ng-template>-->
<!--    </div>-->
    <div class="ml-4 mt-4 flex-shrink-0">
      <div class="inline-flex">
        <button type="button"
                (click)="goToStripe()"
                class="relative inline-flex items-center px-4 py-2 m-2 text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                <svg class="-ml-0.5 mr-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"/>
                    <path
                      d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"/>
                </svg>
            View Stripe
        </button>
      </div>
    </div>
  </div>
  <div class="hidden sm:block">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <ng-container *ngIf="business; else skeletonBusinessInfoForm">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Business Information</h3>
            <p class="mt-1 text-sm leading-5 text-gray-600">
              Manage your business profile and information.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <app-business-info-form [business]="business"></app-business-info-form>
        </div>
      </ng-container>
      <ng-template #skeletonBusinessInfoForm>
        <div class="md:col-span-1"></div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <ion-skeleton-text animated="false" class="rounded-lg w-full" style="height: 35rem"></ion-skeleton-text>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="hidden sm:block">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <ng-container *ngIf="business; else skeletonBusinessLocationForm">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Business Location</h3>
            <p class="mt-1 text-sm leading-5 text-gray-600">
              Use a permanent address where you can receive mail.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2" *ngIf="business">
          <app-business-location-form [location]="business.location"></app-business-location-form>
        </div>
      </ng-container>
      <ng-template #skeletonBusinessLocationForm>
        <div class="md:col-span-1"></div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <ion-skeleton-text animated="false" class="rounded-lg w-full" style="height: 18rem"></ion-skeleton-text>
        </div>
      </ng-template>
    </div>
  </div>
</div>
