<ngx-spinner></ngx-spinner>
<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 hidden md:block">
<!--  <h1 class="text-2xl font-semibold text-gray-900">Settings</h1>-->
  <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap mb-3">
    <div class="ml-4 mt-4">
      <h1 class="text-2xl font-semibold text-gray-900" *ngIf="business; else skeletonSettingsTitle">
        Settings
      </h1>
      <ng-template #skeletonSettingsTitle>
        <div class="h-5"></div>
      </ng-template>
    </div>
    <div class="ml-4 mt-4 flex-shrink-0">
      <div class="inline-flex">
        <button type="button"
                (click)="goToStripe()"
                class="relative inline-flex items-center px-4 py-2 m-2 text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                <svg class="-ml-0.5 mr-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"/>
                    <path
                      d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"/>
                </svg>
            View Stripe
        </button>
      </div>
    </div>
  </div>
  <div class="hidden sm:block">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <ng-container *ngIf="business; else skeletonBusinessInfoForm">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Business Information</h3>
            <p class="mt-1 text-sm leading-5 text-gray-600">
              Manage your business profile and information.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <app-business-info-form [business]="business"></app-business-info-form>
        </div>
      </ng-container>
      <ng-template #skeletonBusinessInfoForm>
        <div class="md:col-span-1"></div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <ion-skeleton-text animated="false" class="rounded-lg w-full" style="height: 35rem"></ion-skeleton-text>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="hidden sm:block">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <ng-container *ngIf="business; else skeletonBusinessLocationForm">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Business Location</h3>
            <p class="mt-1 text-sm leading-5 text-gray-600">
              Use a permanent address where you can receive mail.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2" *ngIf="business">
          <app-business-location-form [location]="business.location"></app-business-location-form>
        </div>
      </ng-container>
      <ng-template #skeletonBusinessLocationForm>
        <div class="md:col-span-1"></div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <ion-skeleton-text animated="false" class="rounded-lg w-full" style="height: 18rem"></ion-skeleton-text>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="hidden sm:block">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <ng-container *ngIf="business; else skeletonSubPlanForm">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Subscription Plan</h3>
            <p class="mt-1 text-sm leading-5 text-gray-600">
              Manage your Gigwerk subscription plan and payments.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Payout method
              </h3>
              <div class="mt-5">
                <div class="rounded-md bg-gray-50 px-6 py-5 sm:flex sm:items-start sm:justify-between">
                  <div class="sm:flex sm:items-start">
                    <svg class="h-8 w-auto sm:flex-shrink-0 sm:h-6" fill="none" viewBox="0 0 36 24" role="img" aria-labelledby="svg-visa">
                      <title id="svg-visa">VISA</title>
                      <rect width="36" height="24" fill="#224DBA" rx="4" />
                      <path fill="#fff" fill-rule="evenodd" d="M10.925 15.673H8.874l-1.538-6c-.073-.276-.228-.52-.456-.635A6.575 6.575 0 005 8.403v-.231h3.304c.456 0 .798.347.855.75l.798 4.328 2.05-5.078h1.994l-3.076 7.5zm4.216 0h-1.937L14.8 8.172h1.937l-1.595 7.5zm4.101-5.422c.057-.404.399-.635.798-.635a3.54 3.54 0 011.88.346l.342-1.615A4.808 4.808 0 0020.496 8c-1.88 0-3.248 1.039-3.248 2.481 0 1.097.969 1.673 1.653 2.02.74.346 1.025.577.968.923 0 .519-.57.75-1.139.75a4.795 4.795 0 01-1.994-.462l-.342 1.616a5.48 5.48 0 002.108.404c2.108.057 3.418-.981 3.418-2.539 0-1.962-2.678-2.077-2.678-2.942zm9.457 5.422L27.16 8.172h-1.652a.858.858 0 00-.798.577l-2.848 6.924h1.994l.398-1.096h2.45l.228 1.096h1.766zm-2.905-5.482l.57 2.827h-1.596l1.026-2.827z" clip-rule="evenodd" />
                    </svg>
                    <div class="mt-3 sm:mt-0 sm:ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">
                        Ending with 4242
                      </div>
                      <div class="mt-1 text-sm leading-5 text-gray-600 sm:flex sm:items-center">
                        <div>
                          Expires 12/20
                        </div>
                        <span class="hidden sm:mx-2 sm:inline" aria-hidden="true">
                &middot;
              </span>
                        <div class="mt-1 sm:mt-0">
                          Last updated on 22 Aug 2017
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 sm:mt-0 sm:ml-6 sm:flex-shrink-0">
          <span class="inline-flex rounded-md shadow-sm">
            <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
              Edit
            </button>
          </span>
                  </div>
                </div>
                <div class="px-4 py-5 sm:p-6">
                  <h3 class="text-lg leading-6 font-medium text-gray-900" id="auto-payouts">
                    Enable Auto Payouts
                  </h3>
                  <div class="mt-2 sm:flex sm:items-start sm:justify-between">
                    <div class="max-w-xl text-sm leading-5 text-gray-500">
                      <p id="auto-payouts-description">
                        Automatically payout your freelancers when a job is completed.
                      </p>
                    </div>
                    <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                      <!-- On: "bg-indigo-600", Off: "bg-gray-200" -->
                      <span
                        role="checkbox"
                        tabindex="0"
                        aria-checked="false"
                        aria-labelledby="renew-headline"
                        aria-describedby="renew-description"
                        [ngClass]="(1 == 1) ? 'bg-indigo-600':'bg-gray-200'"
                        class="bg-gray-200 relative inline-block flex-no-shrink h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline">
                      <!-- On: "translate-x-5", Off: "translate-x-0" -->
                      <span
                        aria-hidden="true"
                        [ngClass]="(1 == 1) ? 'translate-x-5':'translate-x-0'"
                        class="inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200"></span>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #skeletonSubPlanForm>
        <div class="md:col-span-1"></div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <ion-skeleton-text animated="false" class="rounded-lg w-full" style="height: 18rem"></ion-skeleton-text>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="hidden sm:block">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <ng-container *ngIf="business; else skeletonDangerZone">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Danger Zone</h3>
            <p class="mt-1 text-sm leading-5 text-gray-600">
              Some dangerous and potentially irreversible actions. Steer clear.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="renew-headline">
                Deactivate your account
              </h3>
              <div class="mt-2 sm:flex sm:items-start sm:justify-between">
                <div class="max-w-xl text-sm leading-5 text-gray-500">
                  <p id="renew-description">
                    Once you deactivate your account, you will temporarily lose all data associated with it.
                  </p>
                </div>
                <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                  <!-- On: "bg-indigo-600", Off: "bg-gray-200" -->
                  <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Deactivate
                  </button>
                </div>
              </div>
            </div>
            <div class="px-4 py-5 sm:p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Delete your account
              </h3>
              <div class="mt-2 sm:flex sm:items-start sm:justify-between">
                <div class="max-w-xl text-sm leading-5 text-gray-500">
                  <p>
                    Once you delete your account, you will lose all data associated with it.
                  </p>
                </div>
                <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                  <!-- On: "bg-indigo-600", Off: "bg-gray-200" -->
                  <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #skeletonDangerZone>
        <div class="md:col-span-1"></div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <ion-skeleton-text animated="false" class="rounded-lg w-full" style="height: 18rem"></ion-skeleton-text>
        </div>
      </ng-template>
    </div>
  </div>
</div>
