<div class="overflow-hidden my-4">
  <div class="container mx-auto flex justify-center items-center" *ngIf="jobs && jobs.length < 1">
    <img src="https://gigwerk-disk.s3.amazonaws.com/illustrations/no-data.svg" class="w-full" alt="no results">
  </div>
  <ul class="space-y-4 mb-8">
    <ng-container *ngIf="jobs; else skeletonApplicants">
    <li class="bg-white shadow-lg rounded-lg sm:rounded-md"
        *ngFor="let job of jobs | slice: (paginationService.activePage - 1) * windowSize : (paginationService.activePage - 1) * windowSize + windowSize;  let i = index">
      <div class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out cursor-pointer">
        <div class="flex items-center px-4 py-4 sm:px-6">
          <div class="min-w-0 flex-1 flex items-center">
            <div class="flex-shrink-0">
              <img class="h-12 w-12 rounded-full"
                   [src]="job.image_one"
                   alt="image">
            </div>
            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
              <div>
                <div class="text-sm leading-5 font-medium text-primary-dominant truncate">temp</div>
                <div class="flex mt-2 items-center text-sm leading-5 text-gray-500 md:hidden">
                  <app-star-rating *ngIf="job.average_rating" ></app-star-rating>
                  <span>N/A</span>
                </div>
                <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                  <div class="sm:flex">

                    <div class="flex items-center text-xs leading-5 text-gray-500">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                      </svg>
                      skip
                    </div>
                    <div class="md:ml-4 flex items-center text-xs leading-5 text-gray-500 mt-1 md:mt-0">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                           fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                              clip-rule="evenodd"/>
                      </svg>
                      skip
                    </div>
                  </div>

                </div>
              </div>
              <div class="hidden md:block">
                <div>
                  <div class="text-sm font-medium leading-5 text-gray-900">
                    Gigwerk Rating
                  </div>
                  <div class="flex mt-2 items-center text-sm leading-5 text-gray-500">
                    <app-star-rating *ngIf="job.average_rating"></app-star-rating>
                    <span>N/A</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
      </div>
    </li>
    </ng-container>
    <ng-template #skeletonApplicants>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ng-template>
  </ul>
  <ng-container
    *ngIf="jobs && paginationService.maxPages && paginationService.activePage && paginationService.maxPage && paginationService.pagination && windowSize">
    <app-pagination (page)="paginationService.setActivePage($event)" [activePage]="paginationService.activePage"
                    [maxPage]="paginationService.maxPage" [maxPages]="paginationService.maxPages"
                    [pagination]="paginationService.pagination" [windowSize]="windowSize" [results]="jobs.length">
    </app-pagination>
  </ng-container>
</div>
















<!--
<div class="flex flex-col">
  <div class="mx-auto mt-2 flex-shrink-0 mb-5">

    <div>
      <label for="email" class="sr-only">Search
      </label>
      <div class="relative rounded-md shadow-sm">
        <input id="email" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="Search"
          (input)="filterTable($event.target.value)" />
      </div>
    </div>
  </div>
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              intensity
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Status
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              price
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Due Date
            </th>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Views
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
        </thead>
        <ng-container *ngIf="jobs; else skeletonJobs">
          <tbody class="bg-white">
            <tr
              *ngFor="let job of jobs | slice: (paginationService.activePage - 1) * windowSize : (paginationService.activePage - 1) * windowSize + windowSize;  let i = index">
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <a [routerLink]="['/profile', job.customer.id]">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" [src]="job.customer.profile.image" alt="worker image" />
                    </div>
                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">
                        {{job.customer.first_name}}
                        {{job.customer.last_name}}</div>
                      <div class="text-sm leading-5 text-gray-500">{{job.customer.email}}</div>
                    </div>
                  </div>
                </a>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                  *ngIf="job.intensity === 'Hard'">
                  Hard
                </span>
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"
                  *ngIf="job.intensity === 'Medium'">
                  Medium
                </span>
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                  *ngIf="job.intensity === 'easy'">
                  Easy
                </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                {{job.status}}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                {{job.price | currency}}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900">
                  {{job.complete_before | date:'fullDate'}}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900">
                  {{job.views}}
                </div>
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <a [routerLink]="['/job', job.id]" class="text-indigo-600 hover:text-indigo-900">View</a>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #skeletonJobs>
          <tbody class="bg-white">
            <tr *ngFor="let job of [1, 2, 3, 4, 5]">
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <ion-skeleton-text class="h-10 w-10 rounded-full"></ion-skeleton-text>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900">
                      <ion-skeleton-text class="w-20"></ion-skeleton-text>
                    </div>
                    <div class="text-sm leading-5 text-gray-500">
                      <ion-skeleton-text class="w-40"></ion-skeleton-text>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <ion-skeleton-text></ion-skeleton-text>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <ion-skeleton-text></ion-skeleton-text>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <ion-skeleton-text></ion-skeleton-text>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <ion-skeleton-text></ion-skeleton-text>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <ion-skeleton-text></ion-skeleton-text>
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <ng-container *ngIf="jobs">
        <app-pagination (page)="paginationService.setActivePage($event)" [activePage]="paginationService.activePage"
          [maxPage]="paginationService.maxPage" [maxPages]="paginationService.maxPages"
          [pagination]="paginationService.pagination" windowSize="5" [results]="jobs.length">
        </app-pagination>
      </ng-container>
    </div>
  </div>
</div>
-->