<!--Desktop Menu Profile Dropdown-->
<div class="ml-3 relative hidden md:block  z-40">

  <div class="fixed inset-0 bottom-0 z-20 " *ngIf="showDropdown " (click)="showDropdown = !showDropdown">
  </div>

  <div>
    <button class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-outline"
      id="user-menu" aria-label="User menu" aria-haspopup="true" (click)="showDropdown = !showDropdown">
      <img class="h-8 w-8 rounded-full" src="{{image}}" alt="user avatar" />
    </button>
  </div>


  <div class="z-50 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-black"
    [ngClass]="showDropdown ? 'transform opacity-100 scale-100': 'transform opacity-0 scale-95 hidden'">
    <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
      <a routerLink="/settings"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150"
        role="menuitem">Settings</a>
      <a (click)="onLogout()"
        class="block cursor-pointer px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150 "
        role="menuitem">Sign out</a>
    </div>
  </div>
</div>

<!--Mobile Menu Profile Dropdown-->
<div class="pt-4 pb-3 border-t border-gray-200 block md:hidden">
  <div class="flex items-center px-4 space-x-3">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="{{image}}" alt="user avatar">
    </div>
    <div>
      <div class="text-base font-medium leading-6 text-gray-800">{{name}}</div>
      <div class="text-sm font-medium leading-5 text-gray-500">{{email}}</div>
    </div>
  </div>
  <div class="mt-3 space-y-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">

    <a routerLink="/settings"
      class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out"
      role="menuitem">Settings</a>

    <a (click)="onLogout()"
      class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out"
      role="menuitem">Sign out</a>
  </div>
</div>
