<div class="md:hidden" [ngClass]="show ? 'block': 'hidden'">
  <div class="pt-2 pb-3 space-y-1">
    <a routerLink="/dashboard"
       [ngClass]="router.isActive('/dashboard', true) ? active(): inactive()"
       class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium focus:outline-none transition duration-150 ease-in-out">
      Dashboard
    </a>

    <a routerLink="/jobs"
       [ngClass]="router.isActive('/jobs', true) ? active(): inactive()"
       class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium focus:outline-none transition duration-150 ease-in-out">
      Jobs
    </a>

    <a routerLink="/workers"
       [ngClass]="router.isActive('/workers', true) ? active(): inactive()"
       class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium focus:outline-none transition duration-150 ease-in-out">
      Workers
    </a>

    <a routerLink="/applicants"
       [ngClass]="router.isActive('/applicants', true) ? active(): inactive()"
       class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium focus:outline-none transition duration-150 ease-in-out">
      Applicants
    </a>

    <a routerLink="/settings"
       [ngClass]="router.isActive('/settings', true) ? active(): inactive()"
       class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium focus:outline-none transition duration-150 ease-in-out">
      Settings
    </a>
  </div>
  <app-profile-dropdown></app-profile-dropdown>
</div>
