<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <h1 class="text-2xl font-semibold text-gray-900" *ngIf="jobs; else SkeletonJobsTitle">Jobs</h1>
    <ng-template #SkeletonJobsTitle>
        <div class="h-5"></div>
    </ng-template>
    <div class="hidden sm:block">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8" *ngIf="jobs; else skeletonJobs">
    <app-jobs-list [jobs]="jobs"></app-jobs-list>
</div>
<ng-template #skeletonJobs>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <ion-skeleton-text animated="true" class="rounded-lg w-full" style="height: 33rem"></ion-skeleton-text>
    </div>
</ng-template>