<nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0 mt-3">
  <div class="w-0 flex-1 flex">
    <span
       (click)="(activePage > 1) ? setPage(activePage - 1) : undefined"
       [ngClass]="activePage == 1 ? 'cursor-not-allowed text-gray-300': 'text-gray-500 cursor-pointer hover:text-primary-hover hover:border-primary-hover'"
       class="-mt-px border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm leading-5 font-medium focus:outline-none transition ease-in-out duration-150">
      <svg class="mr-3 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
              clip-rule="evenodd"/>
      </svg>
      Previous
    </span>
  </div>
  <div class="hidden md:flex">
    <span
       *ngFor="let page of pagination"
       (click)="setPage(page)"
       [ngClass]="(activePage === page) ? 'border-primary-dominant text-primary-dominant text-primary-dominant': 'border-transparent text-gray-500 hover:text-primary-hover'"
       class="-mt-px border-t-2 pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium focus:outline-none transition ease-in-out duration-150 cursor-pointer">
      {{page}}
    </span>
  </div>
  <div class="w-0 flex-1 flex justify-end">
    <span (click)="(activePage < maxPages) ? setPage(activePage + 1) : undefined"
       [ngClass]="activePage == maxPage ? 'cursor-not-allowed text-gray-300': 'text-gray-500 cursor-pointer hover:text-primary-hover hover:border-primary-hover'"
       class="-mt-px border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm leading-5 font-medium focus:outline-none transition ease-in-out duration-150">
      Next
      <svg class="ml-3 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"/>
      </svg>
    </span>
  </div>
</nav>
