<div class="flex flex-col">
    <div class="mx-auto mt-2 flex-shrink-0 mb-5">

        <div>
            <label for="email" class="sr-only">Search
            </label>
            <div class="relative rounded-md shadow-sm">
                <input id="email" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="Search"
                    (input)="filterTable($event.target.value)" />
            </div>
        </div>
    </div>
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
            *ngIf="notifications">


            <!-- CONTENT GOES HERE -->

            <div class="bg-white shadow overflow-hidden sm:rounded-md">
                <ul>
                    <li
                        *ngFor="let notification of notifications | slice: (activePage - 1) * windowSize : (activePage - 1) * windowSize + windowSize;  let i = index">
                        <a href="#"
                            class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                            <div class="flex items-center px-4 py-4 sm:px-6 rounded-sm my-3"
                                style="border-bottom: 1px solid #e8e8e8; padding-bottom: 12px;">
                                <div class="min-w-0 flex-1 flex items-center">
                                    <div class="flex-shrink-0">
                                        <img class="h-12 w-12 rounded-full"
                                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                            alt="">
                                    </div>
                                    <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                        <div>
                                            <div
                                                class="  border border-red-500 bg-red-500 inline-block py-1 px-2 rounded text-white text-xs font-semibold ">
                                                Attention
                                            </div>
                                            <div class="leading-5 text-gray-600 font-bold text-lg mt-2 ">
                                                {{notification.data.title}}
                                            </div>
                                            <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                                                <span class="">{{notification.data.message}}</span>
                                            </div>
                                        </div>
                                        <div class="hidden md:block">
                                            <div>

                                                <div class="mt-2 flex items-center text-sm leading-5 text-gray-300">
                                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                                                        viewBox="0 0 20 20" fill="currentColor" class="clock w-6 h-6">
                                                        <path fill-rule="evenodd"
                                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                    <div class="text-sm leading-5 text-gray-900 ml-1">
                                                        Last Updated On
                                                        <time
                                                            datetime="2020-01-07">{{notification.updated_at | date}}</time>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <ng-container *ngIf="notifications">
                <app-pagination (page)="setActivePage($event)" [activePage]="activePage" [maxPage]="maxPage"
                    [maxPages]="maxPages" [pagination]="pagination" [windowSize]="windowSize"
                    [results]="notifications.length">
                </app-pagination>
            </ng-container>
        </div>
    </div>
</div>