<ng-container *ngIf="workers; else SkeletonWorkers">
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
    <div class="ml-4 mt-2">
      <h3 class="text-xl leading-6 font-medium text-gray-100">
        Current Freelancers
      </h3>
    </div>
    <div>
      <div class="mt-1 relative rounded-md shadow-sm">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <input id="email" class="form-input block w-full ml-3 sm:ml-0 pl-10 sm:text-sm mb-3 sm:leading-5"
          placeholder="Search Freelancers" (input)="filterTable($event.target.value)" />
      </div>
    </div>
  </div>
  <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4" *ngIf="workers.length">

    <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow"
      *ngFor="let worker of workers | slice: (paginationService.activePage - 1) * windowSize : (paginationService.activePage - 1) * windowSize + windowSize;  let i = index"
      [ngClass]="(i > 0) ? 'border-t border-gray-200' : ''">
      <div class="flex-1 flex flex-col p-8">
        <img class="w-32 h-32 flex-shrink-0 mx-auto bg-black rounded-full" src="{{worker.profile.image}}" alt="">
        <h3 class="mt-6 text-gray-900 text-sm leading-5 font-medium">{{workers.first_name}}
          {{worker.last_name}}
        </h3>
        <dl class="mt-1 flex-grow flex flex-col justify-between">
          <dt class="sr-only">Title</dt>
          <dd class="text-gray-500 text-sm leading-5">{{worker.profile.description}}</dd>
          <dt class="sr-only">Role</dt>
          <dd class="mt-3">
            <span class="px-2 py-1 text-teal-800 text-xs leading-4 font-medium bg-teal-100 rounded-full"
              *ngIf="worker.isActive">
              Active
            </span>
            <span class="px-2 py-1 text-red-800 text-xs leading-4 font-medium bg-red-100 rounded-full"
              *ngIf="!worker.isActive">
              Inactive
            </span>
          </dd>
        </dl>
      </div>
      <div class="border-t border-gray-200">
        <div class="-mt-px flex">
          <div class="-ml-px w-0 flex-1 flex" (click)="viewProfile(worker.profile.id)">
            <a 
              class="cursor-pointer relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 transition ease-in-out duration-150">
              
              <span class="ml-3 text-primary-dominant text-base" > <i class="fas fa-eye text-primary-dominant w-5 h-5"></i> View </span>
            </a>
          </div>
        </div>
      </div>

    </li>

  </ul>
  <ul class="" *ngIf="!workers.length">

    <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow">

      <svg class="mx-auto text-gray-400" fill="currentColor" viewBox="0 0 20 20" style="height: 290px;">
        <path
          d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z">
        </path>
      </svg>

      <h4 class="text-gray-500 mt-0 mb-2 ">No Freelancers Found...</h4>

    </li>
  </ul>

  <app-pagination (page)="paginationService.setActivePage($event)" [activePage]="paginationService.activePage"
    [maxPage]="paginationService.maxPage" [maxPages]="paginationService.maxPages"
    [pagination]="paginationService.pagination" [windowSize]="windowSize" [results]="workers.length">
  </app-pagination>
</ng-container>

<ng-template #SkeletonWorkers>
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
    <div class="ml-4 mt-2">
      <h3 class="h-5 pt-2 text-lg leading-6 font-medium text-gray-900">
      </h3>
    </div>
    <div>
    </div>
  </div>
  <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

    <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow"
      *ngFor="let workers of [1,2,3,4,5,6,7,8,9,10,11,12];  let i = index"
      [ngClass]="(i > 0) ? 'border-t border-gray-200' : ''">
      <div class="flex-1 flex flex-col p-8">
        <ion-skeleton-text class="w-32 h-32 flex-shrink-0 mx-auto rounded-full"></ion-skeleton-text>
        <h3 class="mt-6 text-gray-900 text-sm leading-5 font-medium">
          <ion-skeleton-text></ion-skeleton-text>
        </h3>
        <dl class="mt-1 flex-grow flex flex-col items-center justify-between">
          <dd class="text-gray-500 text-sm leading-5">
            <ion-skeleton-text class="w-40"></ion-skeleton-text>
          </dd>
        </dl>
      </div>
    </li>

  </ul>
</ng-template>

<app-profile-slide-over [userID]="profileUserID"></app-profile-slide-over>