<form role="form" #businessForm="ngForm" novalidate>
  <div>
    <label for="name" class="block text-sm font-medium leading-5 text-gray-700">
      Business Name
    </label>
    <ng-container *ngIf="business; else nameSkeleton">
      <div class="mt-1 flex rounded-md shadow-sm">
        <input id="name"
               [(ngModel)]="business.name"
               name="name"
               type="text"
               #name="ngModel"
               class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm transition duration-100 ease-in-out sm:text-sm sm:leading-5 form-input focus:outline-none focus:shadow-outline-green focus:border-primary-dominant"/>
      </div>
    </ng-container>
    <ng-template #nameSkeleton>
      <div class="mt-1 flex">
        <ion-skeleton-text animated="false" class="block w-full mt-1 py-4 px-3 h-auto rounded-md"></ion-skeleton-text>
      </div>
    </ng-template>
  </div>

  <div class="mt-6">
    <label for="short_description" class="block text-sm leading-5 font-medium text-gray-700">
      SEO Description
    </label>
    <ng-container *ngIf="business; else seoDescriptionSkeleton">
      <div class="rounded-md shadow-sm">
          <textarea id="short_description"
                    rows="1"
                    [(ngModel)]="business.profile.short_description"
                    name="short_description"
                    type="text"
                    #short_description="ngModel"
                    class="form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 focus:outline-none focus:shadow-outline-green focus:border-primary-dominant"></textarea>
      </div>
      <p class="mt-2 text-sm text-gray-500">
        Brief description for your business's SEO.
      </p>
    </ng-container>
    <ng-template #seoDescriptionSkeleton>
      <div class="mt-1 flex">
        <ion-skeleton-text animated="false" class="block w-full mt-1 py-4 px-3 h-auto rounded-md"></ion-skeleton-text>
      </div>
    </ng-template>
  </div>

  <div class="mt-6">
    <label for="long_description" class="block text-sm leading-5 font-medium text-gray-700">
      Business Description
    </label>
    <ng-container *ngIf="business; else longDescriptionSkeleton">
      <div class="rounded-md shadow-sm">
          <textarea id="long_description"
                    rows="3"
                    [(ngModel)]="business.profile.long_description"
                    name="long_description"
                    type="text"
                    #long_description="ngModel"
                    class="form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 focus:outline-none focus:shadow-outline-green focus:border-primary-dominant"></textarea>
      </div>
      <p class="mt-2 text-sm text-gray-500">
        Description for your business profile.
      </p>
    </ng-container>
    <ng-template #longDescriptionSkeleton>
      <div class="mt-1 flex">
        <ion-skeleton-text animated="false" class="block w-full mt-1 py-8 px-3 h-auto rounded-md"></ion-skeleton-text>
      </div>
    </ng-template>

  </div>

  <div class="mt-6">
    <label class="block text-sm leading-5 font-medium text-gray-700">
      Logo
    </label>
    <ng-container *ngIf="business; else imageSkeleton">
      <div class="mt-2 flex items-center">
          <span class="inline-block h-24 w-24 rounded-full overflow-hidden bg-gray-100 shadow-md">
            <img class="h-full w-full"
                 alt="avatar"
                 [src]="business.profile.image">
            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
            </svg>
          </span>
        <input
          id="image"
          type='file'
          accept="image/*"
          class="hidden"
          name="image"
          (change)="onFileChange($event)"
          #image
        />
        <span class="ml-5 rounded-md shadow-sm">
            <button type="button"
                    (click)="image.click()"
                    class="py-2 px-3 border border-gray-300 shadow-md rounded-md text-sm leading-4 font-medium text-primary-dominant hover:text-primary-hover focus:outline-none focus:border-green-300 focus:shadow-outline-green active:text-primary-active transition duration-150 ease-in-out">
              Change
            </button>
          </span>
      </div>
    </ng-container>
    <ng-template #imageSkeleton>
      <div class="mt-1 flex">
        <ion-skeleton-text animated="false" class="h-24 w-24 rounded-full block mt-1"></ion-skeleton-text>
      </div>
    </ng-template>

  </div>

  <div class="px-4 py-3 text-right sm:px-6">
    <span class="inline-flex rounded-md shadow-sm">
      <button type="submit" (click)="onSubmit(businessForm)"
              id="update-business-button"
              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-dominant hover:bg-primary-hover focus:outline-none focus:border-primary-active focus:shadow-outline-indigo active:bg-primary-active transition duration-150 ease-in-out">
        Save
      </button>
    </span>
  </div>
</form>
