<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <div class="py-4" id="stats_at_a_glance">
    <div class="mt-5 grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-4" *ngIf="metrics; else skeletonMetrics">

      <app-metric-card [name]="'Workers'"
                       [labels]="metrics.workers.labels"
                       [datasets]="metrics.workers.dataset"
                       [total]="metrics.workers.total"
                       [percentage]="metrics.workers.percentage"></app-metric-card>

      <app-metric-card [name]="'Applicants'"
                       [labels]="metrics.applications.labels"
                       [datasets]="metrics.applications.dataset"
                       [total]="metrics.applications.total"
                       [percentage]="metrics.applications.percentage"></app-metric-card>

      <app-metric-card [name]="'Jobs'"
                       [labels]="metrics.jobs.labels"
                       [datasets]="metrics.jobs.dataset"
                       [total]="metrics.jobs.total"
                       [percentage]="metrics.jobs.percentage"></app-metric-card>

      <app-metric-card [name]="'Hiring Rate'"
                       [labels]="metrics.hiring.labels"
                       [datasets]="metrics.hiring.dataset"
                       [total]="metrics.hiring.total | percent"
                       [percentage]="metrics.hiring.percentage"></app-metric-card>
    </div>
    <ng-template #skeletonMetrics>
      <div class="mt-5 grid grid-cols-1 gap-3 sm:grid-cols lg:grid-cols-4">
        <ion-skeleton-text animated="true" class="rounded-lg h-40 w-full bg-gray-100"></ion-skeleton-text>

        <ion-skeleton-text animated="true" class="rounded-lg h-40 w-full bg-gray-100"></ion-skeleton-text>

        <ion-skeleton-text animated="true" class="rounded-lg h-40 w-full bg-gray-100"></ion-skeleton-text>
        <ion-skeleton-text animated="true" class="rounded-lg h-40 w-full bg-gray-100"></ion-skeleton-text>
      </div>
    </ng-template>
  </div>
</div>

<div id="calendar">
  <ng-container *ngIf="events; else skeletonCalendar">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <app-calendar [events]="events"></app-calendar>
    </div>
  </ng-container>
  <ng-template #skeletonCalendar>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <ion-skeleton-text [animated]="true" class="rounded-lg w-full" style="height: 26rem"></ion-skeleton-text>
    </div>
  </ng-template>
</div>
